@import "breakpoints";
@import "variables";
// mobile first 0px-500px
body{
    header{
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(23,23,23,0.7063200280112045) 3%, rgba(48,48,48,1) 8%);
        position: sticky !important;
        top: 0;
        padding-bottom: 1em;
        .contenedor-logo{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-bottom: 1em;
            padding-top: 1em;
            .logo{
                width: 75%;
            }
        }
        nav{
            box-sizing: border-box;
            width: 100%;
            padding-bottom: 0.5em;
            .contenedor-botones-nav{
                list-style-type: none;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding-left: 0 !important;
                margin-bottom: 0 !important;
                .botones-nav{
                    a{
                        color: white;
                        font-weight: bold;
                        text-decoration: none;
                        padding: 0.425em;
                        background-color: $color_boton;
                        border-radius: 3px;
                        border: 2px solid transparent;
                    }
                }
            }
        }
    }
}

@include tablet{
    body{
        header{
            display: flex;
            flex-direction: column;
            align-items: center;
            .contenedor-logo{
                width: 70%;
                
            }
            nav{
                display: flex;
                flex-direction: column;
                align-items: center;
                .contenedor-botones-nav{
                    box-sizing: border-box;
                    width: 50%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }
            }
        }
    }
}

@include pc{
    body{
        header{
            .contenedor-logo{
                .logo{
                    width: 45%;
                }
            }
            nav{
                .contenedor-botones-nav{
                    width: 40%;
                    justify-content: space-evenly;
                    .botones-nav{
                        a{
                            &:hover{
                                border: 2px solid white;
                            }
                        }
                    }
                }
            }
        }
    }
}