@import "breakpoints";
@import "variables";
// mobile first 0px-500px
body{
    main{
        .noticias-index{
            div{
                h1{
                    text-align: center;
                    padding-top: 1.5em;
                    padding-bottom: 1em;
                    font-weight: bold;
                    font-size: 40px;
                }
            }
            .envoltura-noticias-main{
                .noticia{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .contenedor-imagen-noticia{
                        box-sizing: border-box;
                        width: 75%;
                        border: 1px solid $color_bordes;
                        padding: 6px;
                        .img-noticia{
                            width: 100%;
                            &:hover{
                                opacity: 0.5;
                                transition: 0.5s;
                            }
                        }
                    }
                    .titulo-noticia{
                        h2{
                            font-family: 'Oswald', sans-serif !important;
                            text-align: center;
                            color: $color_titulos;
                        }
                    }
                    .contenedor-texto-noticia{
                        .texto-noticia{
                            border-left: solid $color_bordes 5px;
                            padding: 5px;
                            margin-left: 1em;
                            font-family: 'Roboto Condensed', sans-serif;
                        }
                    }
                    .contenedor-boton-video{
                        padding-top: 1em;
                        padding-bottom: 1em;
                        .boton-watch-now{
                            padding: $padding_boton;
                            background-color: $color_boton;
                            font-weight: bold;
                            color: white;
                            text-decoration: none;
                            font-weight: bold;
                            border: 2px solid transparent;
                            border-radius: 3px;
                        }
                    }
                }
            }
            .contenedor-boton-more-news{
                display: flex;
                flex-direction: row;
                justify-content: center;
                .boton-more-news{
                    padding: $padding_boton;
                    background-color: $color_boton;
                    font-weight: bold;
                    color: white;
                    text-decoration: none;
                    font-weight: bold;
                    border: 2px solid transparent;
                    border-radius: 3px;
                }
            }
        }
        .tickets-main{
            margin-top: 2em;
            padding-top: 1em;
            padding-bottom: 2em;
            background: rgb(7,7,7);
            background: linear-gradient(0deg, rgba(7,7,7,0.8183648459383753) 0%, rgba(0,0,0,1) 50%, rgba(7,7,7,0.4962359943977591) 100%);
            .titulo-section-main{
                h1{
                    text-align: center;
                    padding-top: 1.5em;
                    padding-bottom: 1em;
                    font-weight: bold;
                    font-size: 40px;
                }
            }
            .envoltura-tabla
            .fechas-tour-tabla{
                .fechas-tour-celda-descripcion{
                    border-top: 1px solid rgba(255, 255, 255, 0.2);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                    .fechas-tour-data{
                        .fechas-tour-fecha{
                            font-weight: bolder;
                            text-align: center;
                            color: $color_titulos;
                            p{
                                margin-bottom: 0.5rem;
                            }
                        }
                        .fechas-tour-evento{
                            .fechas-tour-nombre-evento{
                                text-align: center;
                                p{
                                    margin-bottom: 0.5rem;
                                }
                            }
                            .fechas-tour-ubicacion{
                                text-align: center;
                                p{
                                    margin-bottom: 0.5rem;
                                }
                            }
                        }
                        .boton-compra-tickets{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding-bottom: 0.5em;
                            .boton-tickets{
                                padding: $padding_boton;
                                background-color: $color_boton;
                                font-weight: bold;
                                text-decoration: none;
                                font-weight: bold;
                                color: white;
                                border: 2px solid transparent;
                                border-radius: 3px;
                            }
                        }
                    }
                }
                .contenedor-boton-more-dates{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding-bottom: 1em;
                    padding-top: 1em;
                    .boton-more-dates{
                        padding: $padding_boton;
                        background-color: $color_boton;
                        font-weight: bold;
                        color: white;
                        text-decoration: none;
                        border: 2px solid transparent;
                        border-radius: 3px;
                    }
                }
            }
        }
        .merch-main{
            .titulo-section-main{
                h1{
                    text-align: center;
                    padding-top: 1.5em;
                    padding-bottom: 1em;
                    font-weight: bold;
                    font-size: 40px;
                }
            }
            .contenedor-productos{
                .producto{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .contenedor-img-producto{
                        box-sizing: border-box;
                        width: 50%;
                        background-color: rgb(7,7,7);
                        border: 3px solid $color_bordes;
                        .img-producto{
                            width: 100%;
                        }
                    }
                    .contenedor-nombre-producto{
                        .nombre-producto{
                            font-family: 'Oswald', sans-serif;
                        }
                    }
                    .contenedor-precio-producto{
                        .precio-producto{
                            font-weight: bold;
                        }
                    }
                    .contenedor-botones-compra{
                        box-sizing: border-box;
                        width: 50%;
                        ul{
                            list-style-type: none;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;
                            padding-left: 0 !important;
                            .botones-compra{
                                padding: $padding_boton;
                                background-color: $color_boton;
                                font-weight: bold;
                                color: white;
                                text-decoration: none;
                                border: 2px solid transparent;
                                border-radius: 3px;
                            }
                        }
                    }
                }
            }
            .contenedor-boton-more-merch{
                padding-top: 1em;
                padding-bottom: 1em;
                display: flex;
                flex-direction: column;
                align-items: center;
                .boton-more-merch{
                    padding: $padding_boton;
                    background-color: $color_boton;
                    font-weight: bold;
                    color: white;
                    text-decoration: none;
                    border: 2px solid transparent;
                    border-radius: 3px;
                }
            }
        }
    }
}

@include tablet{
    body{
        main{
            .merch-main{
                .contenedor-productos{
                    .producto{
                        .contenedor-botones-compra{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            ul{
                                box-sizing: border-box;
                            width: 60%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include pc{
    body{
        main{
            .noticias-index{
                .envoltura-noticias-main{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;   
                    .noticia{
                        box-sizing: border-box;
                        width: 35%;
                        .titulo-noticia{
                            h2{
                                font-size: 25px;
                            }
                        }
                        .contenedor-boton-video{
                            padding-top: 0;
                            .boton-watch-now{
                                &:hover{
                                    border: 2px solid white;
                                }
                            }
                        }
                    }
                }
                .contenedor-boton-more-news{
                    padding-top: 2em;
                    .boton-more-news{
                        font-size: 20px;
                        &:hover{
                            border: 2px solid white;
                        }
                    }
                }
            }
            .tickets-main{
                .envoltura-tabla{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .fechas-tour-tabla{
                        box-sizing: border-box;
                        width: 75%;
                        .fechas-tour-celda-descripcion{
                            .fechas-tour-data{
                                display: grid;
                        grid-template-areas: 
                        "fecha fecha boton"
                        "evento evento boton";
                        grid-template-columns: 1fr 1fr 1fr;
                        align-items: center;
                        .fechas-tour-fecha{
                            grid-area: fecha;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            text-align: center;
                        }
                        .fechas-tour-evento{
                            grid-area: evento;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                        }
                        .boton-compra-tickets{
                            grid-area: boton;
                            padding-bottom: 0;
                            .boton-tickets{
                                &:hover{
                                    border: 2px solid white;
                                }
                            }
                        }
                            }
                        }
                        .contenedor-boton-more-dates{
                            .boton-more-dates{
                                font-size: 20px;
                                &:hover{
                                    border: 2px solid white;
                                }
                            }
                        }
                    }
                }
            }
            .merch-main{
                .contenedor-productos{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    .producto{
                        box-sizing: border-box;
                        width: 33%;
                        .contenedor-img-producto{
                            width: 80%
                        }
                        .contenedor-botones-compra{
                            width: 100%;
                            .botones-compra{
                                &:hover{
                                    border: 2px solid white;
                                }
                            }
                        }
                    }
                }
                .contenedor-boton-more-merch{
                    .boton-more-merch{
                        &:hover{
                            border: 2px solid white;
                        }
                    }
                }
            }
        }
    }
}